[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-spectacular = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
